.edit {
    height: 71vh;
}
.container {
    width: 33%;
    padding: 30px;
    border-radius: 6px;
    background: #ffffffd9;
    margin: 0 auto;
}

.form__title {
    font-size: 30px;
    color: black;
    margin-bottom: 5px;
}

.form__subtitle {
    margin-bottom: 20px;
    margin-left: 2px;
}

@media (max-height: 1024px) {
    .edit {
        height: 100%;
    }
}
@media (max-width: 835px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 450px) {
    .container {
        width: 100%;
    }
}
