/* .edit {
    height: 75vh;
} */
.container {
    width: 33%;
    padding: 20px;
    border-radius: 6px;
    background: #ffffffd9;
    margin: 0 auto;
}

.form__title {
    font-size: 30px;
    color: black;
    margin-bottom: 5px;
}

.form__subtitle {
    margin-bottom: 20px;
    margin-left: 2px;
}
