.recipe {
    height: 69vh;
    padding: 20px;
}

.card {
    background: white;
    width: 55%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 12px;
}

.card__title {
    font-size: 30px;
    color: black;
    margin-bottom: 7px;
}
.recipe__data {
    display: flex;
    column-gap: 10px;
    margin-bottom: 7px;
}
.card__desc {
    margin-bottom: 7px;
}
.card__author {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 7px;
}
.card__author a {
    text-decoration: none;
    background: #c5c3c3;
    color: black;
    padding: 5px 10px;
    border-radius: 6px;
}
.card__author a:hover {
    color: #ca4b00;
}
.card__author button {
    text-decoration: none;
    background: #c5c3c3;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
}
.card__author button:hover {
    color: #ca4b00;
}

.author__image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card__body {
    display: flex;
    column-gap: 30px;
    align-items: flex-start;
}

.card__image {
    height: 320px;
    width: 65%;
    border-radius: 12px;
}
.card__info {
    width: 30%;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 10px;
}
.card__info li:last-child {
    font-weight: 600;
}
.info__item {
    margin-bottom: 7px;
}
.info__item ul {
    margin-top: 7px;
    margin-left: 10px;
}

.info__item ul li {
    margin-bottom: 7px;
}

.changeVh {
}

@media (max-width: 1024px) {
    .card {
        width: 65%;
    }
}

@media (max-height: 900px) {
    .changeVh {
        height: 100%;
    }
}

@media (max-width: 900px) {
    .card {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 87%;
    }
}

@media (max-width: 450px) {
    .recipe {
        padding: unset;
        height: 100%;
    }
    .card {
        width: 100%;
    }
    .card__body {
        flex-direction: column;
    }
    .card__image {
        width: 100%;
        margin-bottom: 10px;
    }
    .card__info {
        width: 100%;
    }
    .card__author {
        flex-direction: column;
        row-gap: 10px;
    }
    .card__author button {
        width: 100%;
        padding: 10px 10px;
    }
    .card__author a {
        padding: 10px 10px;
        width: 100%;
        text-align: center;
    }
}
