.recipes {
    background: #ffffffe8;
    min-height: 75vh;
    position: relative;
    padding: 55px 20px 55px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 25px;
    column-gap: 25px;
}

.pagination {
    position: absolute;
    bottom: 15px;
    left: 47%;
    /* translate: (-50%); */
    margin: 0 auto;
}
.pagination button:first-child {
    margin-right: 10px;
}
.pagination button {
    border: none;
    color: #ca4c00;
    padding: 5px 15px;
}

.viewportHeight {
    height: 75vh;
}

@media (max-width: 1330px) {
    .recipes {
        row-gap: 15px;
        column-gap: 15px;
    }
}

@media (max-width: 835px) {
    .recipes {
        justify-content: space-between;
    }
}

@media (max-width: 450px) {
    .recipes {
        padding: 20px 20px 20px 20px;
        flex-direction: column;
    }
}
