.layout {
    height: 80vh;
}
.login {
    /* width: 45%;
    margin: 0 auto;
    background: white; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.register {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.container {
    /* width: 25%; */
    margin: 0 auto;
    /* background: white; */
    background: #ffffffd9;
    padding: 20px;
    border-radius: 6px;
    max-width: 350px;
}
.auth__form .auth_error {
    color: red;
    margin: 5px 0 0 0;
}
.register__form {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "firstName lastName"
        "email email"
        "password password"
        "rePass rePass"
        "anchor anchor"
        "btn btn";
}
.form__group {
    margin-bottom: 15px;
}
.form__group input {
    padding: 10px 6px;
    width: 100%;
}

.form__group p a {
    margin-left: 5px;
}
.container h1 {
    color: black;
    font-size: 30px;
    margin-bottom: 5px;
}
.container p {
    padding-left: 2px;
    margin-bottom: 20px;
}
.form__group a {
    text-decoration: none;
}
.btn {
    width: 100%;
    background: #c5c3c3;

    border-radius: 8px;
    border: 1px solid #c5c3c3;
    padding: 11px 10px;
}

.btn:hover {
    color: #ca4b00 !important;
}
.err__msg {
    color: red;
}
.disable {
    cursor: not-allowed;
}
.item1 {
    grid-area: firstName;
}
.item2 {
    grid-area: lastName;
}
.item3 {
    grid-area: email;
}
.item4 {
    grid-area: password;
}
.item5 {
    grid-area: rePass;
}

.item6 {
    grid-area: anchor;
}
.item7 {
    grid-area: btn;
}
