/* Favourite section */
.layout {
    height: 71vh;
}
.favorite {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.favorite__card {
    background-color: white;
    padding: 30px;
    width: 25%;
    max-width: 344px;
}

.card__title {
    font-size: 30px;
    margin-bottom: 18px;
}
.card__badge {
    letter-spacing: 2px;
    background: #fb863f;
    padding: 3px 11px;
}

.card__desc {
    margin: 18px 0;
}
.favorite__card a {
    text-decoration: none;
    color: #4c4c4c;
    letter-spacing: 1px;
}
/* Cooking section */
.cooking {
    /* display: flex; */
}

.divider {
    padding: 25px 10px 20px 10px;
    background-color: white;
    text-align: center;
    margin-bottom: 50px;
}

.cooking__title {
    font-size: 30px;
    margin-bottom: 10px;
}

.cooking__link {
    letter-spacing: 1px;
    color: #4c4c4c;
    text-decoration: none;
}
.cards__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.image__wrapper {
    height: 300px;
}
.recipe__card {
    width: 20%;
}

.recipe__card img {
    height: 100%;
    width: 100%;
}
.image__wrapper div {
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 200px;
    padding: 10px;
}
.card__heading {
}

@media (max-height: 1024px) {
    .layout {
        height: 100%;
    }
}

@media (max-width: 1040px) {
    .image__wrapper div {
        width: 15%;
    }
}

@media (max-width: 1000px) {
    .favorite__card {
        width: 30%;
    }
}

@media (max-width: 820px) {
    .layout {
        height: 100%;
    }

    .favorite__card {
        width: 35%;
    }
    .cards__wrapper {
        flex-wrap: wrap;
        row-gap: 22px;
    }
    .recipe__card {
        width: 35%;
    }
    .image__wrapper {
        position: relative;
    }
    .image__wrapper div {
        width: 80%;
    }
}

@media (max-width: 450px) {
    .favorite {
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
    }
    .favorite__card {
        width: 100%;
    }
    .cooking__title {
        /* font-size: 26px; */
    }
    .cards__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .recipe__card {
        width: 90%;
    }
}
